* {
  font-family: 'Kanit', sans-serif;
  background-color: rgb(255, 220, 25);
}

body {
  color: white;
  text-shadow: 0px 0px 5px #000;
}

h1 {
  width: 100%;
  text-align: center;
}

button {
  background-color: #5800e6;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  outline: none;
  font-family: Arial, sans-serif;
  padding: 5px;
}
button:hover{
  opacity: 0.8;
}
button:disabled {
  background-color: #ccc;
  color: gray;
}
button:disabled:hover {
  opacity: 1;
}

#canvas-container {
  display: flex;
  justify-content: center;
}
canvas {
  background-color: #e6e6e6;
  border-radius: 5px;
  border: 2px solid black;
  display: block;
}

.container {
  margin: 0 auto;
  display: flex;
}


.btn-group {
  display: flex;
  justify-content: space-evenly;
}

aside span{
  color: #6d0d0d;
  text-shadow: 0px 0px 5px white;
}
  aside {
    display: flex;
    align-items: center;
  }


/* Phone */
@media (max-width:480px) {
  h1 {
    margin: 5px;
  }
  #canvas-container{
    margin: 5px 0px;
  }
  .controls {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 5px auto;
  }
  .controls button {
    margin: 0 auto;
    width: 20%;
    padding: 10px 5px;
  }
  /* .btn-group {
    margin-left: 15px;
  } */
  .btn-group button{
    margin: 3px;
    min-width: 25%;
  }

  .container {
    width: 100%;
    flex-direction: column-reverse;
  }
  aside{
    justify-content: space-evenly;
  }
  #mini {
    display: none;
  }
}

/* Desktop and tablet */
@media screen and (min-width:481px) {
  aside{
    flex-direction: column;
    align-items: start;
  }
  .controls {
    display: none;
  }
  .container {
    max-width: 80%;
    justify-content: center;
  }
  #canvas-container{
    margin: 0px 15px ;
  }
  .btn-group{
    margin-top: 5px;
    width: 100%;
    flex-direction: column;
  }
  .btn-group button{
    margin: 3px 0px;
  }
}